// PDP
.product-details-container {
  // left container
  .pdp-left-container {
    float: left;
    width: 100%;
    div[class*=pdp-thumb-] {
      float: left;
      &[class=pdp-thumb-left] {
        width: 70px;
        ul {
          float: left;
          width: 100%;
          padding: 0px;
          margin: 0px;
          list-style: none;
          li {
            float: left;
            margin: 15px 0px;
            @media screen and (min-width: breakpoint(md)) {
        			width: 100%;
        		}
            a {
              border: solid 1px $cv-p5;
              border-radius: 2px;
              text-align: center;
              vertical-align: middle;
              display: block;
              width: 70px;
              height: 70px;
              padding: 2px;
              background-color: #fff;
              -webkit-transition: all 0.2s ease;
              -moz-transition: all 0.2s ease;
              transition: all 0.2s ease;
              img {
                height: 100%;
                width: auto;
              }
              &:hover {
                border: solid 1px $cv-p0;
              }
            }
            &:first-child {
              margin-top: 0px;
            }
          }
        }
      }
      &[class=pdp-thumb-viewer] {
        width: 460px;
        float: right;
        .pdp-img-viewer {
          border: solid 1px $cv-p5;
          padding: 5px;
          min-height: 460px;
          background-color: rgba(222, 222, 222, 0);
          .pdp-whishlist {
            position: absolute;
            top: 10px;
            right: 10px;
            a {
              padding: 10px;
              display: block;
              background-color: rgba(255,255,255,0.9);
              border: solid 1px rgba(0,0,0,0.1);
              border-radius: 50%;
              -webkit-transition: all 0.2s ease;
              -moz-transition: all 0.2s ease;
              transition: all 0.2s ease;
              .cv-wishlist-icon {
                width: 23px;
                height: 23px;
                margin: auto;
                display: block;
                vertical-align: middle;
              }
              &:hover {
                border: solid 1px $cv-p0;
                .cv-wishlist-icon {
                  background-position: -36px -73px;
                }
              }
            }
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        .pdp-zoom {
          margin-top: 10px;
          p {
            color: rgba(0,0,0,0.87);
            font-size: 12px;
            letter-spacing: 0.5px;
            float: left;
            span {
              float: left;
              margin-right: 5px;
              .cv-zoom {
                float: left;
                margin-right: 5px;
              }
            }
            .sku-id {
              color: rgba(0,0,0,0.54);
            }
          }
        }
      }
    }
  }
  // right currency-container
  .pdp-right-container {
    float: left;
    width: 100%;
    hr {
      float: left;
      width: 100%;
      margin: 10px 0px;
    }
    .pdp-block {
      padding: 0px 0px 0px 0px;
      h4 {
        margin: 0px 0px 10px 0px;
        color: $cv-p1;
        float: left;
        width: 100%;
      }
      p {
        color: $cv-p3;
        float: left;
        width: 100%;
        span {
          float: left;
          margin-right: 5px;
        }
        .vender-name {
          color: $cv-p6;
          text-transform: uppercase;
        }
        .pdp-ratting {
          .icon {
            width: 17px;
            height: 16px;
            display: inline-block;
            cursor: pointer;
          }
        }
        .ratting-count {
          font-size: $font-size-sm;
        }
      }
      ul.pdp-variant {
        list-style: none;
        padding: 0px;
        float: left;
        width: 100%;
        margin: 0px;
        > li {
          float: left;
          width: 60%;
          color: $cv-p3;
          &:first-child {
            width: 16%;
          }
          &:last-child {
            width: 24%;
          }
          > ul {
            float: left;
            padding: 0px;
            width: 100%;
            > li {
              width: 45%;
              list-style-type: disc;
              float: left;
              // list-style-position: inside;
              margin: 2px;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // white-space: nowrap;
              padding-right: 20px;
              > span {
                //display: inline-block;
              }
            }
          }
          a {
            float: right;
            border: solid 1px $cv-p6;
            padding: 2px 8px;
            border-radius: 5px;
            color: $cv-p6;
            line-height: 16px;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      // price-delivery-variant
      ul.pdp-price-delivery-variant {
        list-style: none;
        padding: 0px;
        margin: 4px 0px;
        float: left;
        width: 100%;
        &>li {
          float: left;
          width: 84%;
          color: $cv-p3;
          padding-left: 7px;
          box-sizing: border-box;
          &:first-child {
            width: 16%;
            padding-left: 0px;
          }
          &>[class*=col-xs-] {
            margin: 4px 0px;
          }
        }
        // pdp-pincode
        .pdp-pincode {
          .pdp-pincode-box-wrapper {
            width: 180px;
            float: left;
            position: relative;
          }
          .cv-location {
            width: 15px;
            height: 23px;
            float: left;
            margin-right: 5px
          }
          .pdp-pincode-box {
            float: left;
            width: 160px;
            outline: none;
            border-color: $cv-p6;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            font-size: 14px;
            color: $cv-p3;
            position: relative;
          }
          .pdp-pin-change-check {
            position: absolute;
            right: 0;
            color: $cv-p6;
            line-height: 22px;
            cursor: pointer;
            .cv-icon-change {
              width: 9px;
              height: 9px;
              // background-color: $cv-p6;
              float: left;
              margin-right: 5px;
              margin-top: 6px;
            }
          }
        }
      }
      //
      .pdp-cashon {
        .cv-cash-avalable {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      //
      .pdp-shipping {
        .cv-shipping {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      //
      .pdp-delivery-time {
        .cv-estimated {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      // pdp-price-offer
      .pdp-price-offer {
        float: left;
        margin: 0px;
        span {
          float: left;
          margin-right: 8px;
          line-height: 26px;
        }
      }
      //
    }
  }
}

// Color And Size Start
.pdp-color-size-container {
  float: left;
  width: 100%;
  margin: 0px 0px 15px 0px;
  padding: 0;
  list-style: none;
  li {
    float: left;
    width: 100%;
    color: $cv-p3;
    ul {
      float: left;
      width: 100%;
      margin: 5px 0px;
      padding: 0;
      list-style: none;
      li {
        float: left;
        width: 84%;
        padding-left: 7px;
        line-height: 30px;
        &:first-child {
          width: 16%;
          padding-left: 0px;
        }
        & .pdp-size-variant {
          float: left;
          width: 35px;
          height: 35px;
          border: solid 1px #dedede;
          margin-right: 10px;
          text-align: center;
          line-height: 35px;
          color: rgba(0,0,0,0.5);
        }
        & .pdp-size-chart {
          a {
            color: $cv-p6;
            .cv-size-chart {
              width: 21px;
              height: 10px;
              float: left;
              margin-right: 5px;
              margin-top: 9px;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
        & .pdp-color-variant {
          float: left;
          width: 35px;
          height: 35px;
          // border: solid 1px green;
          margin-right: 10px;
          text-align: center;
          line-height: 30px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            //border: solid 1px red;
          }
        }
      }
    }
  }
}
// Button Container
.pdp-button-container {
  .btn {
    color: #fff;
    font-size: $font-size-md;
    border-radius: 2px;
    height: 50px;
    line-height: 41px;
    border: none;
    box-shadow: none;
    margin-right: 5px;
    &:focus, &:active {
      outline: none;
      border: none;
    }
    &.btn-addtocart {
      background-color: #6b6b6b;
      width: 180px;
      text-align: center;
    }
    &.btn-buynow {
      background-color: $cv-p0;
      width: 250px;
      text-align: center;
    }
  }
}
// Buyer protection start
.pdp-buyer-protections {
  p {
    margin: 10px 0px;
    line-height: 27px;
    font-weight: bold;
    .cv-pdp-buyer {
      width: 25px;
      height: 25px;
    }
    a {
      color: $cv-p6;
      font-weight: normal;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
// Product and spacification start
@import "../themes/product-spacification.scss";
// Product and spacification end
//
.pdp-offer-price {
  color: $cv-p1;
  font-size: 28px;
  font-weight:normal;
  font-stretch: normal;
  sup {
    font-size: 16px;
    margin-right: 5px;
  }
}
.pdp-original-price {
  color: rgba(0,0,0,0.4);
  font-size: 16px;
  font-stretch: normal;
  text-decoration: line-through;
  sup {
    margin-right: 2px;
    top: -2px;
  }
}
.pdp-discount {
  font-size: 16px;
  color: $cv-p0;
  font-stretch: normal;
}
// color
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
