.product-details-container {
  // right currency-container
  .zoom-btn {
    display: none;
  }
  .pdp-right-container {
    float: left;
    width: 100%;
    hr {
      float: left;
      width: 100%;
      margin: 10px 0px;
    }
    .pdp-block {
      padding: 0px 0px 0px 0px;
      h1 {
        margin: 0px 0px 10px 0px;
        color: $cv-p1;
        float: left;
        width: 100%;
        position: relative;
        font-size: 18px;
        @media screen and (max-width: breakpoint(sm)) {
          padding-right: 25px;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          border: solid 1px red;
          width: 23px;
          height: 23px;
          display: block;
          @media screen and (min-width: breakpoint(sm)) {
            display: none;
          }
        }
      }
      p {
        color: $cv-p3;
        float: left;
        width: 100%;
        span {
          float: left;
          margin-right: 5px;
        }
        .vender-name {
          color: $cv-p6;
          text-transform: uppercase;
        }
        .pdp-ratting {
          .icon {
            width: 17px;
            height: 16px;
            display: inline-block;
            cursor: pointer;
          }
        }
        .ratting-count {
          font-size: $font-size-sm;
          margin-top: 2px;
        }
      }
      ul.pdp-variant {
        list-style: none;
        padding: 0px;
        float: left;
        width: 100%;
        margin: 0px;
        display: none;
        @media screen and (min-width: breakpoint(sm)) {
          display: block;
        }
        > li {
          float: left;
          width: 60%;
          color: $cv-p3;
          &:first-child {
            width: 16%;
          }
          &:last-child {
            width: 24%;
          }
          > ul {
            float: left;
            padding: 0px;
            width: 100%;
            > li {
              width: 45%;
              list-style-type: disc;
              float: left;
              // list-style-position: inside;
              margin: 2px;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // white-space: nowrap;
              padding-right: 20px;
              > span {
                //display: inline-block;
              }
            }
          }
          a {
            float: right;
            border: solid 1px $cv-p6;
            padding: 2px 8px;
            border-radius: 5px;
            color: $cv-p6;
            line-height: 16px;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      // price-delivery-variant
      ul.pdp-price-delivery-variant {
        list-style: none;
        padding: 0px;
        margin: 4px 0px;
        float: left;
        width: 100%;
        &>li {
          float: left;
          width: 84%;
          color: $cv-p3;
          padding-left: 7px;
          box-sizing: border-box;
          &:first-child {
            width: 16%;
            padding-left: 0px;
          }
          &>[class*=col-xs-] {
            margin: 4px 0px;
          }
        }
        // pdp-pincode
        .pdp-pincode {
          .pdp-pincode-box-wrapper {
            width: 180px;
            float: left;
            position: relative;
          }
          .cv-location {
            width: 15px;
            height: 23px;
            float: left;
            margin-right: 5px
          }
          .pdp-pincode-box {
            float: left;
            width: 160px;
            outline: none;
            border-color: $cv-p6;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            font-size: 14px;
            color: $cv-p3;
            position: relative;
          }
          .pdp-pin-change-check {
            position: absolute;
            right: 0;
            color: $cv-p6;
            line-height: 22px;
            cursor: pointer;
            .cv-icon-change {
              width: 9px;
              height: 9px;
              // background-color: $cv-p6;
              float: left;
              margin-right: 5px;
              margin-top: 6px;
            }
          }
        }
      }
      //
      .pdp-cashon {
        .cv-cash-avalable {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      //
      .pdp-shipping {
        .cv-shipping {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      //
      .pdp-delivery-time {
        .cv-estimated {
          width: 17px;
          height: 15px;
          float: left;
          margin-right: 8px;
        }
      }
      // pdp-price-offer
      .pdp-price-offer {
        float: left;
        margin: 0px;
        width: 100%;
        span {
          float: left;
          margin-right: 8px;
          line-height: 26px;
          a {
            color: $cv-p6;
            border: 1px solid $cv-p6;
            font-size: $font-size-sm;
            text-decoration: none;
            padding: 5px;
            border-radius: 2px;
            display: block;
            line-height: 10px;
          }
          &.pdp-details {
            margin: 0px;
          }
        }
      }
      //
    }
  }
}
