// PDP
@import "pdp-left-container.scss";
@import "pdp-right-container.scss";
@import "pdp-color-size-container.scss";
// Button Container
.pdp-button-container {
  @media screen and (max-width: breakpoint(sm)) {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 1501;
    left: 0;
  }
  .btn {
    color: #fff;
    font-size: $font-size-md;
    border-radius: 0px;
    height: 50px;
    line-height: 41px;
    border: none;
    box-shadow: none;
    float: left;
    @media screen and (min-width: breakpoint(sm)) {
      margin-right: 5px;
      border-radius: 2px;
    }
    &:focus, &:active {
      outline: none;
      border: none;
    }
    &.btn-addtocart {
      background-color: #6b6b6b;
      width: 50%;
      text-align: center;
      @media screen and (min-width: breakpoint(sm)) {
        width: 180px;
      }
    }
    &.btn-buynow {
      background-color: $cv-p0;
      width: 50%;
      text-align: center;
      @media screen and (min-width: breakpoint(sm)) {
        width: 250px;
      }
    }
    &.btn-soldout {
      background-color: transparent;
      border: solid 1px $cv-p0;
      color: $cv-p0;
      width: 100%;
      text-align: center;
      @media screen and (min-width: breakpoint(sm)) {
        width: 250px;
      }
    }
  }
}
// Buyer protection start
.pdp-buyer-protections {
  p {
    margin: 10px 0px;
    line-height: 27px;
    font-weight: bold;
    .cv-pdp-buyer {
      width: 25px;
      height: 25px;
    }
    a {
      color: $cv-p6;
      font-weight: normal;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
// Product and spacification start
@import "../themes/product-spacification.scss";
// Product and spacification end
//
.pdp-offer-price {
  color: $cv-p1;
  font-size: 28px;
  font-weight:normal;
  font-stretch: normal;
  sup {
    font-size: 16px;
    margin-right: 5px;
  }
}
.pdp-original-price {
  color: rgba(0,0,0,0.4);
  font-size: 16px;
  font-stretch: normal;
  text-decoration: line-through;
  sup {
    margin-right: 2px;
    top: -2px;
  }
}
.pdp-discount {
  font-size: 16px;
  color: $cv-p0;
  font-stretch: normal;
}
// color
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
