.widgets-app-download {
  background-color: $white100;
  padding: 0px;
  @media screen and (max-width: breakpoint(sm)) {
    height: 77px;
  }
  [class*=app-] {
    &.app-left {
      img {
        @media screen and (max-width: breakpoint(sm)) {
          width: 100%;
        }
      }
    }
    &.app-right {
      text-align: center;
      padding: 35px 0px;
      @media screen and (max-width: breakpoint(sm)) {
        padding: 2.5px 0 0px 0;
      }
      .download-now {
        margin: 0px 0px 15px 0px;
        text-align: center;
        letter-spacing: 0.5px;
        color: $cv-p0;
        font-weight: bold;
        font-size: 35px;
        line-height: 1;
        @media screen and (max-width: breakpoint(sm)) {
          font-size: 100%;
          margin: 7.5px 0px;
        }
        span {
          display: block;
        }
      }
      p {
        margin: 0px;
        a {
          display: inline-block;
          span {
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
