.carousel-section {
  margin-bottom: 30px;
  @media screen and (max-width: breakpoint(sm)) {
    margin-bottom: 15px;
    padding: 0px;
    .item {
      a {
        img {
          width: 100%;
        }
      }
    }
  }
}
