// Hack Model start
.modal-open {
  @media (max-width: $screen-sm-min) {
    //overflow: inherit;
  }
}
.modal {
  @media (max-width: $screen-sm-min) {
    position: relative;
  }
}
.modal-backdrop {
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}
// Hack Model End
.quick-view-container {
  .modal-dialog {
    margin: 0px;
    // Scale up the modal
    @media (min-width: $screen-sm-min) {
      width: 1200px;
      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      margin: auto;
    }
    .modal-content {
      border-radius: 2px;
      float: left;
      width: 100%;
      padding: 10px;
      min-height: 521px;
      @media (max-width: $screen-sm-min) {
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
      .model-close {
        width: 17px;
        height: 16px;
        border: none;
        float: right;
        background-color: inherit;
        display: none;
        @media (min-width: $screen-sm-min) {
          margin-right: -15px;
          display: block;
        }
      }
      // modal-body
      .modal-body {
        padding: 0px 15px;
        & > .row {
          @media (min-width: $screen-sm-min) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
          }
        }
      }
    }
  }
  .quick-view-loader {
    width: 1200px;
    height: 100px;
    vertical-align: middle;
    display: block;
    margin-top: 200px;
  }
  .pdp-variant-quick-view {
    list-style: none;
    padding: 0px;
    float: left;
    width: 100%;
    margin: 0px;
    display: block;
    li {
      float: left;
      color: #626262;
      ul {
        float: left;
        padding: 0px;
        width: 100%;
        li {
          width: 45%;
          list-style-type: disc;
          float: left;
          margin: 2px;
          padding-right: 20px;
        }
      }
    }
    > li:first-child {
      width: 16%;
    }
    > li:last-child {
      width: 80%;
    }
  }
}
