// new color start
.orange {
	background: orange;
}
.purple {
	background-color: purple;
}
.blue {
	background-color: blue;
}
.pink {
	background-color: pink;
}
.lime {
	background-color: lime;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.black {
	background-color: black;
}
.white {
	background-color: white;
}
// new color end
.bg-beige{
	background-color: $beige;
}

.bg-black{
	background-color: $black;
}

.bg-blue{
	background-color: $blue;
}

.bg-brown{
	background-color: $brown;
}

.bg-gold{
	background-color: $gold;
}

.bg-green{
	background-color: $green;
}

.bg-grey{
	background-color: $grey;
}

.bg-maroon{
	background-color: $maroon;
}


.bg-multicolor{
	background-color: $multicolor;
}

.bg-orange{
	background-color: $orange;
}

.bg-pastel{
	background-color: $pastel;
}

.bg-pink{
	background-color: $pink;
}

.bg-purple{
	background-color: $purple;
}

.bg-red{
	background-color: $red;
}

.bg-silver{
	background-color: $silver;
}

.bg-violet{
	background-color: $violet;
}

.bg-white{
	background-color: $white;
}

.bg-yellow{
	background-color: $yellow;
}

.bg-pink{
	background-color: $pink;
}

.bg-pink{
	background-color: $pink;
}

.bg-cv-primary{
	background-color: $cv_primary;
}
