// .display-sidebar{
// 	display: block !important;
// }

.mobile-sidebar{
	@media screen and (max-width: breakpoint(sm)){
		//max-width: 100% ;
		z-index: 1500 ;
	}
}
.totalProduct {
	@include display(none);
	@media screen and (max-width: breakpoint(sm)){
		@include display();
		font-weight: normal;
		font-size: $font-size-sm;
	}
}
.filter-close-mobile-p {
	@include display(none);
	@media screen and (max-width: breakpoint(sm)){
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
		display: block;
		width: 25px;
		height: 25px;
		border: solid 1px red;
		text-align: center;
	}
}

.mobile-filter-container {
	padding: 0;
	margin: 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: auto;
		li {
			margin-bottom: 15px;
			label {
				margin-bottom: 1px;
				display: inline-block;
				label {
					width: 18px;
					height: 18px;
					border: 1px solid #cacece;
					vertical-align: middle;
				}
				span {
					font-weight: 400;
					font-size: 12px;
					color: #727272;
					margin-left: 5px;
					letter-spacing: 1px;
				}
				input[type=checkbox]:checked~label {
					background-position: -113px -13px;
					@extend %sprite-image;
					border: 1px solid #cacece;
					background-color: #448aff;
				}

			}
		}

	}
}
.tab-pane {
	background: #fff;
	width: 100%;
	left: 0;
	padding: 15px;
	height: 100%;
	display: none;
	&.active {
		display: block;
	}
}

.mobile-filter{
	padding: 0 !important;
	border-top: solid 1px #ebebeb;
	.tabs-left {
		list-style: none;
		overflow: auto;
		border-right: solid 1px #ebebeb;
		padding: 0;
		margin: 0;
	    >li {
	    	padding: 0;
	    	margin: 0;
	    	border-right: solid 1px #ebebeb; //review
		    border-bottom: solid 1px #ebebeb; //review
		    &.active {
			    a {
			    	color: #448aff;
			    	text-decoration: none;
			    }
			}
			a {
				display: block;
				font-weight: bold;
				letter-spacing: 0.3px;
				padding: 14px 11px;
				color: #222222;
				cursor: pointer;
				&:hover {
					text-decoration: none;
				}
				span {
					margin-left: 6px;
					font-weight: normal;
					color: $cv-p0;
				}
			}
		}
	}
	// Tabs
// .nav-tabs {
//   float: left;
//   border-bottom: 0;
// }
// .nav-tabs li {
//   float: none;
//   margin: 0;
// }
// .nav-tabs li a {
//   margin-right: 0;
//   border: 0;
//   background-color: #c0392b;
// }
// .nav-tabs li a:hover {
//   background-color: #e74c3c;
// }
// .nav-tabs .glyphicon {
//   color: #fff;
// }
// .nav-tabs .active .glyphicon {
//   color: #333;
// }
//
// .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//   border: 0;
// }

// .tab-content {
//   margin-left: 45px;
// }
// .tab-content .tab-pane {
//   display: none;
//   background-color: #fff;
//   padding: 1.6rem;
//   overflow-y: auto;
// }
// .tab-content .active {
//   display: block;
// }
}

.tab-right-content{
	list-style: none;
	padding: 0;
	margin: 0;

	.tab-pane {
		background: #fff;
	    width: 100%;
	    left: 0;
	    padding: 15px;
	    display: none;
	    height: 100%;

	    &.active{
	    	display: block;
	    }
		.search_category_mobile {
		    border-radius: 2px;
		    background-color: #fff;
		    border: 0.5px solid #fff1f3;
		    padding: 5px 5px 5px 32px;
		    height: 35px;
		    margin: 0px 0px 10px 0px;
		    width:100%;
				font-size: 12px;
				&:hover, &:focus {
					outline: none;
				}
				&+span.cv-search {
					position: absolute;
			    width: 28px;
			    height: 30px;
			    top: 18px;
			    left: 19px;
					background-position: -287px -70px;
				}
		}
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			overflow-y: auto;
		li {
			margin: 5px 0px;
			label {
				margin-bottom:1px;
				label {
					width:20px;
					height:20px;
					border: solid 1px #cacece;
					vertical-align: middle;
					border-radius: 2px;
					margin-right: 10px;
					float: left;
				}
				input[type="checkbox"]:checked ~ label {
					border: solid 1px $cv-p6;
					background-color: $cv-p6;
					@extend %sprite-image;
					background-position: -111px -10px;
				}
				span {
					font-weight: 400;
					// font-size: $font-size-sm;
					color: #727272;
					.color {
						border: 1px solid rgba(0,0,0,.1);
						float: left;
						width: 15px;
						height: 15px;
						margin-right: 7.5px;
						border-radius: 50px;
					}
				}
			}
		}
		}
	}
}

.tabe-pane{
	#category{
		li a {
			cursor: pointer;
		    font-weight: 400;
		    font-size: 12px;
		    color: #727272;
		    letter-spacing: .2px;
		    line-height: 1.8;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
}

.regular-checkbox{
	display: none;
}
//  Apply Filter
.apply-filter {
    padding: 0px;
    height: 53px;
    border-top: solid 1px #ebebeb;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    a {
		text-align: center;
		display: inline-block;
		width: 40%;
		font-size: 16px;
		font-weight: 400;
		color: #4a4a4a;
		background-color: #fff;
		padding: 15px;
		float: left;
		&:hover {
			text-decoration: none;
		}
		&.applyBtn {
			width: 60%;
			color: #fff;
			font-weight: 700;
			background: #ff4e63;
			border-radius: 2px;
			letter-spacing: 1px;
		}
	}
		.clear_all_section, .apply_button_section {
			padding: 0px;
		}
		.apply_button_section {
			background-color: $cv-p0;
			a {
				color: #fff;
			}
		}
}
//
[class*='tab-data-'] {
	// Price
	&.tab-data-price {
		[class*='price_'] {
			p {
				span {
					display: block;
					&:first-child {
						color: $cv-p13;
						font-size: $font-size-sm;
					}
					&:last-child {
						color: $black87;
					}
				}
				input[type="text"] {
					border-radius: 2px;
			    background-color: #fff;
			    border: .5px solid #cccccc;
			    padding: 7px 5px 5px 10px;
			    height: 28px;
			    margin: 5px 0px 10px 0px;
			    width: 100%;
					&:hover, &:focus {
						outline: none;
						border: .5px solid #fff1f3;
					}
				}
			}
		}
		// Range Slider
		.rangeSlider {
			border: solid 1px red;
			margin-bottom: 15px;
		}
	}
	// Fabric
	&.tab-data-fabric {
		.search_category_mobile {
			border: none;
			padding: 5px 5px 5px 27px;
			&+span {
				left: 12px !important;
			}
		}
	}
}
// Range Slider classList
[data-content-wrapper] {
	.mfilter {
		background: #FFF;
		color: #757575;
		box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
		border: 1px solid #e0e0e0;
		position: fixed!important;
		left: 0;
		bottom: 0;
		font-size: 14px;
		line-height: 18px;
		z-index: 999;
		.spacer {
			padding: 10px;
			.meta-text {
				font-size: 14px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: 0.8px;
				text-align: left;
				color: #000000;
			}
		}
	}
}
@import "_slide_range.scss";
