.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section {
  margin: 7.5px 0 0;
  @media screen and (max-width: breakpoint(sm)){
    margin: 0px;
  }
}
.product-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  .product-box {
    margin: 7.5px 0 15px 0;
    padding: 0 7.5px;
    transition: width .5s ease;
    // -webkit-transition: all 1s ease-in-out;
    // -moz-transition: all 1s ease-in-out;
    // -o-transition: all 1s ease-in-out;
    // transition: all 1s ease-in-out;
    .product {
      padding: 0px;
      background-color: #fff;
      border: solid 0.9px transparent;
      .product-img {
        position: relative;
        a {
          display: block;
          img {
            width: 100%;
          }
        }
        .wishlist-product {
          position: absolute;
          top: 15px;
          right: 15px;
          a {
            display: block;
            text-decoration: none;
            .icon {
              width: 23px;
              height: 23px;
              display: block;
            }
            &:hover, &:focus {
              outline: none;
              bottom: none;
            }
            &.active {
              .cv-wishlist-icon {
                background-position: -180px -7px;
              }
            }
          }
        }
      }
      //
      .product-details {
        padding: 10px 5px;
        @media screen and (min-width: breakpoint(sm)){
          padding: 10px 25px;
        }
        a {
          display: block;
          text-align: center;
          color: $cv-p2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
          width: 100%;
          &:hover {
            text-decoration: none;
          }
        }
        .product-price-offer {
          margin: 5px 0px;
          text-align: center;
          float: left;
          width: 100%;
          min-height: 40px;
          span {
            display: inline-block;
            margin: 0px 2px;
            &.product-offer-price {
              font-weight: bold;
              color: $cv-p1;
            }
            &.product-original-price {
              font-weight: normal;
              color: rgba(0,0,0,0.4);
              font-size: $font-size-sm;
              text-decoration: line-through;
            }
            &.product-off {
              font-weight: normal;
              color: $cv-p0;
            }
          }
        }
      }
      &:hover {
        @media screen and (min-width: breakpoint(sm)){
          box-shadow: 0 7px 17px 0 rgba(23,84,116,0.18);
          z-index: 50;
          border: solid 0.9px #f3f3f3;
          border-radius: 3px;
          .quickView {
            opacity: 1;
          }
        }
      }
    }
  }
}
// Big Feature Strat
[wrapperattribute="big"] {
  .product-box {
    @media screen and (min-width: breakpoint(sm)){
      width: 33.33333%;
    }
    @media screen and (max-width: breakpoint(sm)){
      width: 100%;
    }
  }
}
// Quick view
.quickView {
  color: red;
  position: absolute;
  bottom: 10px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 150px;
  background-color: #fafafa;
  transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  opacity: 0;
  a {
    display: block;
    text-decoration: none;
    color: $cv-p6;
    padding: 11px 15px;
  }
}
