.footer-container {
	@include background-bg($footer_background_default);
	@include font-face;
	@include border-top(solid, $cv_primary, 2px);
	float: left;
	width: 100%;
	@media screen and (max-width: breakpoint(sm)) {
		@include border-top(none);
	}
	.container {
		@media screen and (max-width: breakpoint(sm)) {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
	}
	.foot-row {
		margin-left: -7.5px;
		margin-right: -7.5px;
	}
}
.footer-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-weight: 400;
	li {
		font-size: $cv-font-normal;
		line-height: 1.4;
		letter-spacing: 0.2px;
		color: $footer_text_default;
		a {
			@include text-decoration;
			color: $footer_link_default;
			cursor: pointer;
			line-height: 1.71;
			letter-spacing: 0.2px;
			display: inline-block;
			&:hover {
				color: $footer_link_hover;
			}
			span {
				color: $footer_text_primary;
			}
		}
		.icon {
			background-color: #dedede;
		}
		&.list-heading {
			font-size: $cv-footer-heading;
			line-height: 1.64;
			letter-spacing: 0.8px;
			color: $footer_text_primary;
			margin-top: 25px;
			margin-bottom: 10px;
			border: 0 solid red;
			text-transform: uppercase;
		}
	}
}

.mobile-footer-container {
	text-align: center;
	font-size: $cv-caption1;
	line-height: 1.8;
	letter-spacing: 0.2px;
	color: $footer_text_default;
	padding: 30px 0;
	a {
		color: $footer_link_default;
		text-decoration: none;
		&:hover {
			color: $footer_link_hover;
			text-decoration: none;
		}
	}
}
// copy-right-container
.copy-right-container {
	padding: 13px 0px 10px 0px;
	background-color: $cv-p7;
	text-align: center;
	font-size: $cv-caption1;
	color: $cv-p8;
	@media screen and (max-width: breakpoint(sm)) {
		margin: 0px;
	}
}
// Footer Myaccount Option start
.optional-footer {
	background-color: $cv-p7;
	.payment-option-massege {
		p {
			margin: 0px;
			text-align: center;
			max-height: 33px;
		}
	}
}
// Footer Payment Option Massege Start
.footer-bottom  {
	margin-bottom: 15px;
}
// Seo Start
@import "seoblock";
